@font-face {
  font-family: 'montserratultra_light';
  src: url('../fonts/montserrat/montserrat-ultralight.eot');
  src: url('../fonts/montserrat/montserrat-ultralight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat/montserrat-ultralight.woff2') format('woff2'),
  url('../fonts/montserrat/montserrat-ultralight.woff') format('woff'),
  url('../fonts/montserrat/montserrat-ultralight.ttf') format('truetype'),
  url('../fonts/montserrat/montserrat-ultralight.svg#montserratultra_light') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montserrat-light';
  src: url('../fonts/montserrat/montserrat-light.eot');
  src: url('../fonts/montserrat/montserrat-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat/montserrat-light.woff2') format('woff2'),
  url('../fonts/montserrat/montserrat-light.woff') format('woff'),
  url('../fonts/montserrat/montserrat-light.ttf') format('truetype'),
  url('../fonts/montserrat/montserrat-light.svg#montserrat_light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-regular';
  src: url('../fonts/raleway/raleway-regular.eot');
  src: url('../fonts/raleway/raleway-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raleway/raleway-regular.woff2') format('woff2'),
  url('../fonts/raleway/raleway-regular.woff') format('woff'),
  url('../fonts/raleway/raleway-regular.ttf') format('truetype'),
  url('../fonts/raleway/raleway-regular.svg#ralewayregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway_medium';
  src: url('../fonts/raleway/raleway-medium.eot');
  src: url('../fonts/raleway/raleway-medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raleway/raleway-medium.woff2') format('woff2'),
  url('../fonts/raleway/raleway-medium.woff') format('woff'),
  url('../fonts/raleway/raleway-medium.ttf') format('truetype'),
  url('../fonts/raleway/raleway-medium.svg#raleway_mediumregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'raleway_semibold';
  src: url('../fonts/raleway/raleway-semibold.eot');
  src: url('../fonts/raleway/raleway-semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raleway/raleway-semibold.woff2') format('woff2'),
  url('../fonts/raleway/raleway-semibold.woff') format('woff'),
  url('../fonts/raleway/raleway-semibold.ttf') format('truetype'),
  url('../fonts/raleway/raleway-semibold.svg#raleway_semiboldregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-bold';
  src: url('../fonts/raleway/raleway-bold.eot');
  src: url('../fonts/raleway/raleway-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raleway/raleway-bold.woff2') format('woff2'),
  url('../fonts/raleway/raleway-bold.woff') format('woff'),
  url('../fonts/raleway/raleway-bold.ttf') format('truetype'),
  url('../fonts/raleway/raleway-bold.svg#ralewaybold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway_extrabold';
  src: url('../fonts/raleway/raleway-extrabold.eot');
  src: url('../fonts/raleway/raleway-extrabold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raleway/raleway-extrabold.woff2') format('woff2'),
  url('../fonts/raleway/raleway-extrabold.woff') format('woff'),
  url('../fonts/raleway/raleway-extrabold.ttf') format('truetype'),
  url('../fonts/raleway/raleway-extrabold.svg#raleway_extraboldregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


