@import '_fonts.scss';

$page-width: 1170px;
$header-color: #fff;
$slider-bgcolor: #555556;
$active-menu-item-color: #9a8776;

body {
  margin: 0;
  position: relative;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    margin: 0;
  }
}

header,
main,
footer {
  display: block;
  width: 100%;
}

.container {
  display: block;
  width: $page-width;
  margin: 0 auto;
}

.heading-2 {
  margin: 0;
  font-family: raleway_semibold, sans-serif;
  color: #555555;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.text {
  font-family: montserrat-light, sans-serif;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  &_under-title {
    max-width: 757px;
    margin-top: 24px;
  }
}

.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  &__container {
    margin-top: 40px;
    height: 57px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &__logo {
    display: flex;
    height: 100%;
  }
  &__name {
    font-family: raleway-regular, sans-serif;
    font-size: 26px;
    color: $header-color;
    margin: auto;
  }
  &__nav {
    display: flex;
  }
}

.menu-button {
  width: 65px;
  height: 40px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: absolute;
  top: 48px;
  right: 40px;
  &__h-bar {
    width: 100%;
    height: 25%;
    display: block;
    background: #ffffff;
  }
}
#menu-check-box {
  display: none;
}

#menu {
  visibility: hidden;
}

input[type="checkbox"]:checked ~ .header__nav {
  visibility: visible;
}

.menu {
  height: 100%;
  display: flex;
  justify-content: center;
  &__item {
    display: flex;
  }
  &__link {
    display: flex;
    &:hover &-text {
      color: $active-menu-item-color;
    }
  }
  &__link-text {
    margin: auto 15px;
    color: $header-color;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 300;
  }
  &__controls {
    margin-left: 30px;
  }
}

.controls {
  display: flex;
  &__link {
    display: flex;
    height: 100%;
    &:hover .controls__icon {
      opacity: 0.5;
    }
  }
  &__icon {
    margin: auto 15px;
  }
}

.slider {
  position: relative;
  height: 1024px;
  width: 100%;
  background: rgb(85, 85, 86) url(../img/mountains.jpg) no-repeat center 15%;
  background-size: auto;
  &__container {
    min-width: $page-width;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.slider-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 150px;
  width: 100%;
}

.slider-left,
.slider-right {
  display: block;
  width: 50px;
  height: 170px;
  &:hover {
    background: rgba(#998675, 0.5);
  }
}

.slider-left {
  position: relative;
  &:before {
    background: #d3c1ad;
    display: block;
    content: '';
    position: absolute;
    top: 44px;
    left: 22px;
    height: 50px;
    width: 2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &:after {
    background: #d3c1ad;
    display: block;
    content: '';
    position: absolute;
    top: 78px;
    left: 22px;
    height: 50px;
    width: 2px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.slider-right {
  position: relative;
  &:before {
    background: #d3c1ad;
    display: block;
    content: '';
    position: absolute;
    top: 78px;
    left: 25px;
    height: 50px;
    width: 2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &:after {
    background: #d3c1ad;
    display: block;
    content: '';
    position: absolute;
    top: 44px;
    left: 25px;
    height: 50px;
    width: 2px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.slider-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 589px;
  color: #ffffff;
  &__upper-text {
    font-family: Raleway, sans-serif;
    font-size: 36px;
    font-weight: 400;
  }
  &__title {
    font-family: Raleway-ExtraBold, sans-serif;
    font-size: 52px;
    font-weight: 400;
    margin: 10px 0;
  }
  &__text {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin-top: 10px;
  }
  &__button {
    margin-top: 52px;
    width: 170px;
    height: 53px;
    line-height: 53px;
  }
}

.button {
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Raleway-ExtraBold, sans-serif;
  font-size: 14px;
  font-weight: 400;
  box-shadow: inset 0 -3px 0 #736357;
  background-color: #998675;
  border-radius: 3px;
  text-align: center;
  &:hover {
    background: #736357;
    color: darken(#ffffff, 20%);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 40px;
  &__link {
    display: flex;
    height: 15px;
    width: 15px;
    margin: 0 3px;
    border-radius: 50%;
    &:hover,
    &_active {
      border: 2px solid #d3c1ad;
    }
    &:hover .pagination__dot {
      background: transparent;
    }
    &_active .pagination__dot {
      background: transparent;
    }
  }
  &__dot {
    display: block;
    height: 11px;
    width: 11px;
    margin: auto;
    border-radius: 50%;
    background: rgba(#fff, 0.3);
  }
}

.services {
  background: #ffffff;

  &__list {
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
  }
  &__item {
    display: block;
    margin: 17px 17px;
  }
  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover .services__name {
      color: #c7b299;
    }
    &:hover .services__line {
      background: #c7b299;
    }
    &:hover .services__icon_1 {
      background-position: 0 -52px;
    }
    &:hover .services__icon_2 {
      background-position: -52px -52px;
    }
    &:hover .services__icon_3 {
      background-position: -103px -52px;
    }
    &:hover .services__icon_4 {
      background-position: -156px -52px;
    }
  }
  &__icon {
    display: block;
    width: 52px;
    height: 52px;
    background-image: url(../img/s_icons.png);
    &_1 {
      background-position: 0 0;
    }
    &_2 {
      background-position: -52px 0;
    }
    &_3 {
      background-position: -103px 0;
    }
    &_4 {
      background-position: -156px 0;
    }
  }
  &__name {
    margin-top: 29px;
    font-family: Raleway, sans-serif;
    color: #555555;
    font-size: 22px;
    font-weight: 600;
  }
  &__text {
    margin-top: 19px;
    margin-bottom: 0;
    font-family: Montserrat, sans-serif;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
  }
  &__line {
    margin-top: 30px;
    background-color: #f1eee9;
    width: 70px;
    height: 3px;
  }
}

.realization {
  display: block;
  background: #fbfaf8;
  width: 100%;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1230px;
    margin: 0 auto;
    padding-top: 80px;
  }
  &__screens {
    display: block;
    width: 1230px;
    height: 482px;
    margin-top: 40px;
    background-repeat: no-repeat;
    background-image: url(../img/browser-center.jpg), url(../img/browser-left.jpg), url(../img/browser-right.jpg);
    background-position: bottom, bottom left, bottom right;
  }
}

.purchase {
  background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  width: 100%;
  height: 150px;
  &__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-family: Raleway, sans-serif;
    color: #ffffff;
    font-size: 28px;
    font-weight: 400;
    text-align: left;
    &_highlighted {
      color: #c7b299;
    }
  }
  &__reminder {
    margin-top: 5px;
    font-family: Montserrat, sans-serif;
    color: #615855;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
  }
  &__button {
    width: 170px;
    height: 50px;
    line-height: 50px;
  }
}

/*-------------- Media --------------------*/
@media screen and (max-width: 1170px) {
  .container {
    width: 605px;
  }
  .menu-button{
    display: flex;
  }
  .header {
    position: sticky;
    top: 0;
  }
  .header__container {
    padding: 40px;
    margin-top: 0;
    height: auto;
    background-image: url(../img/photo1.jpg);
  }
  .header__nav {
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    width: 605px;
    top: 137px;
    left: 0;
  }
  .menu {
    flex-direction: column;
    background-image: url(../img/photo1.jpg);
    background-position: 0 -137px;
    opacity: 0.95;
    &__link {
      width: 100%;
      &-text {
        display: block;
        width: 100%;
        height: 100%;
        margin: 10px;
        font-size: 20px;
        text-align: center;
      }
      &:hover {
        background: #d1d1d1;
      }
    }
    &__controls {
      display: none;
    }
  }
  .slider {
    display: none;
  }
  .services {
    &__list {
      flex-wrap: wrap;
      margin: 20px 0;
    }
    &__item {
      max-width: 265px;
    }

  }
  .realization {
    display: none;
  }
  .purchase {
    width: 605px;
    margin: 0 auto;
    &__container {
      padding: 0 1em;
    }
    &__text {
      margin-right: 3em;
    }
    &__title {
      font-size: 26px;
    }
    &__reminder {
      display: none;
    }
   }
  